/* Color palette */
:root{
  --red: #C5222D;
  --green: #8DCB77;
  --gray: #676767;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: Arial;
  background-color: skyblue;
}

* {
  box-sizing: border-box;
}

/* CSSTransition Group animation styles */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.container{
  width: 90vw;
  margin: 0 auto;
}
