/* Color palette */
:root{
  --red: #C5222D;
  --green: #8DCB77;
  --gray: #676767;
  --white: #FFFFFF;
}

/* Fonts */
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(../../assets/fonts/Raleway-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(../../assets/fonts/Raleway-Medium.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(../../assets/fonts/Raleway-Bold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(../../assets/fonts/Raleway-ExtraBold.ttf) format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(../../assets/fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(../../assets/fonts/Montserrat-Medium.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(../../assets/fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: 700;
}

body {
  margin: 0;
  background-color: var(--white);
}

* {
  box-sizing: border-box;
}

/* CSSTransition Group animation styles */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.container{
  width: 75vw;
  margin: 0 auto;
}
