.dashboard {
  padding: 30px 0;
  h2{
    font-size: 33px !important;
  }
  input{
    width: 464px;
    padding: 4px 23px;
    height: 20px;
    box-shadow: 0px 0px 3px #00000029;
    border: none;
    border-radius: 17px;
    outline: 0;
    background-image: url('/assets/search.png');
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: left 5px top 50%;
    font-family: 'Montserrat';
    font-weight: 400;
    color: var(--red);
    &::placeholder {
      font-family: 'Montserrat';
      color: #BCBCBC;
      font-size: 11px;
      font-weight: 400;
    }
  }
}

.recipes-grid{
  width: 100%;
  padding: 35px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  animation: animationIn .5s ease-in forwards;
}

@keyframes animationIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.loading-container {
  padding: 35px 0;
}